#Anaconda Files
.spyproject/

#Atmel Debug Files added when running
qt7-proj1/Debug
AVR128-rawblink/Debug
qt7-dig-gain4/Debug

#Mac stuff
**/.DS_Store

#IntelliJ 
.idea/
out/

#Eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*.pyc
*~.nib
local.properties
.classpath
.settings/
.loadpath

# Visual Studio Code
.vscode/
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

# React Native
kiosk_react_native/gestureKiosk/node_modules/**/*
kiosk_react_native/gestureKiosk/.expo/*
kiosk_react_native/gestureKiosk/.expo-shared/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
kiosk_react_native/gestureKiosk/yarn.lock
